---

export interface props{
  url:string,
  img:string,
  name: string,
  description: string
}
const {name,img,url,description} = Astro.props
---
<div class="card" >
  <h1 class="card__title">{name}</h1>
  <img src={img} alt="Imagenes" srcset="" class="img">
  <span>{description}
    <a class="card__url" href={url}> ver mas</a>
  </span>
  <slot/>
</div>
<style>
  .card{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background: var(--gray-400);
    color: wheat;
    margin-top: 2%;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
  }
  .card__title{
    font-size: 2rem;
  }
  .card__url{
    list-style: none;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;

    }
    .img{
      margin-top: 25px;
      width: 150px;
      height: 150px;
      align-self: center;
    }
</style>
